svg {
  position: absolute;
  left:50%;
  top:50%;
  transform: translateX(-50%) translateY(-50%);
  border: 1px dashed #ddd;
}

circle {
  animation-name: anim;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

.turquoise {
  fill: rgba(5, 166, 235, 0.5);
}

.blue {
  fill: rgba(30, 131, 232, 0.5);
}

.purple {
  fill: rgba(151, 45, 186, 0.5);
}

.violet {
  fill: rgba(191, 0, 108, 0.5);
}

.red {
  fill: rgba(237, 0, 32, 0.5);
}

.orange {
  fill: rgba(240, 88, 0, 0.5);
}

.clementine {
  fill: rgba(247, 148, 0, 0.5);
}

.gold {
  fill: rgba(250, 204, 0, 0.5);
}

.lightgreen {
  fill: rgba(247, 235, 0, 0.5);
}

.green {
  fill: rgba(192, 222, 0, 0.5);
}

.darkgreen {
  fill: rgba(138, 207, 0, 0.5);
}

@keyframes anim {
  50% {
    transform: translateY(-600px);
  }
  50.0001% {
    transform: translateY(600px);
  }
}

@for $i from 1 through 124 {
  circle:nth-child(#{$i}) {
    animation-timing-function: cubic-bezier(random(),1,random(),1);
  }
}
