svg {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  border: 1px dashed #ddd;
}

circle {
  -webkit-animation-name: anim;
          animation-name: anim;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.turquoise {
  fill: rgba(5, 166, 235, 0.5);
}

.blue {
  fill: rgba(30, 131, 232, 0.5);
}

.purple {
  fill: rgba(151, 45, 186, 0.5);
}

.violet {
  fill: rgba(191, 0, 108, 0.5);
}

.red {
  fill: rgba(237, 0, 32, 0.5);
}

.orange {
  fill: rgba(240, 88, 0, 0.5);
}

.clementine {
  fill: rgba(247, 148, 0, 0.5);
}

.gold {
  fill: rgba(250, 204, 0, 0.5);
}

.lightgreen {
  fill: rgba(247, 235, 0, 0.5);
}

.green {
  fill: rgba(192, 222, 0, 0.5);
}

.darkgreen {
  fill: rgba(138, 207, 0, 0.5);
}

@-webkit-keyframes anim {
  50% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  50.0001% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
}

@keyframes anim {
  50% {
    -webkit-transform: translateY(-600px);
            transform: translateY(-600px);
  }
  50.0001% {
    -webkit-transform: translateY(600px);
            transform: translateY(600px);
  }
}
circle:nth-child(1) {
  -webkit-animation-timing-function: cubic-bezier(0.70931, 1, 0.19592, 1);
          animation-timing-function: cubic-bezier(0.70931, 1, 0.19592, 1);
}

circle:nth-child(2) {
  -webkit-animation-timing-function: cubic-bezier(0.0446, 1, 0.66749, 1);
          animation-timing-function: cubic-bezier(0.0446, 1, 0.66749, 1);
}

circle:nth-child(3) {
  -webkit-animation-timing-function: cubic-bezier(0.2693, 1, 0.35815, 1);
          animation-timing-function: cubic-bezier(0.2693, 1, 0.35815, 1);
}

circle:nth-child(4) {
  -webkit-animation-timing-function: cubic-bezier(0.70031, 1, 0.34687, 1);
          animation-timing-function: cubic-bezier(0.70031, 1, 0.34687, 1);
}

circle:nth-child(5) {
  -webkit-animation-timing-function: cubic-bezier(0.47921, 1, 0.45809, 1);
          animation-timing-function: cubic-bezier(0.47921, 1, 0.45809, 1);
}

circle:nth-child(6) {
  -webkit-animation-timing-function: cubic-bezier(0.72803, 1, 0.82801, 1);
          animation-timing-function: cubic-bezier(0.72803, 1, 0.82801, 1);
}

circle:nth-child(7) {
  -webkit-animation-timing-function: cubic-bezier(0.53152, 1, 0.27452, 1);
          animation-timing-function: cubic-bezier(0.53152, 1, 0.27452, 1);
}

circle:nth-child(8) {
  -webkit-animation-timing-function: cubic-bezier(0.80394, 1, 0.98195, 1);
          animation-timing-function: cubic-bezier(0.80394, 1, 0.98195, 1);
}

circle:nth-child(9) {
  -webkit-animation-timing-function: cubic-bezier(0.25093, 1, 0.35185, 1);
          animation-timing-function: cubic-bezier(0.25093, 1, 0.35185, 1);
}

circle:nth-child(10) {
  -webkit-animation-timing-function: cubic-bezier(0.87758, 1, 0.9234, 1);
          animation-timing-function: cubic-bezier(0.87758, 1, 0.9234, 1);
}

circle:nth-child(11) {
  -webkit-animation-timing-function: cubic-bezier(0.89852, 1, 0.72873, 1);
          animation-timing-function: cubic-bezier(0.89852, 1, 0.72873, 1);
}

circle:nth-child(12) {
  -webkit-animation-timing-function: cubic-bezier(0.82329, 1, 0.50491, 1);
          animation-timing-function: cubic-bezier(0.82329, 1, 0.50491, 1);
}

circle:nth-child(13) {
  -webkit-animation-timing-function: cubic-bezier(0.71091, 1, 0.74842, 1);
          animation-timing-function: cubic-bezier(0.71091, 1, 0.74842, 1);
}

circle:nth-child(14) {
  -webkit-animation-timing-function: cubic-bezier(0.59974, 1, 0.82009, 1);
          animation-timing-function: cubic-bezier(0.59974, 1, 0.82009, 1);
}

circle:nth-child(15) {
  -webkit-animation-timing-function: cubic-bezier(0.28304, 1, 0.77961, 1);
          animation-timing-function: cubic-bezier(0.28304, 1, 0.77961, 1);
}

circle:nth-child(16) {
  -webkit-animation-timing-function: cubic-bezier(0.52351, 1, 0.03801, 1);
          animation-timing-function: cubic-bezier(0.52351, 1, 0.03801, 1);
}

circle:nth-child(17) {
  -webkit-animation-timing-function: cubic-bezier(0.07674, 1, 0.62392, 1);
          animation-timing-function: cubic-bezier(0.07674, 1, 0.62392, 1);
}

circle:nth-child(18) {
  -webkit-animation-timing-function: cubic-bezier(0.51492, 1, 0.10028, 1);
          animation-timing-function: cubic-bezier(0.51492, 1, 0.10028, 1);
}

circle:nth-child(19) {
  -webkit-animation-timing-function: cubic-bezier(0.17463, 1, 0.74653, 1);
          animation-timing-function: cubic-bezier(0.17463, 1, 0.74653, 1);
}

circle:nth-child(20) {
  -webkit-animation-timing-function: cubic-bezier(0.63035, 1, 0.01931, 1);
          animation-timing-function: cubic-bezier(0.63035, 1, 0.01931, 1);
}

circle:nth-child(21) {
  -webkit-animation-timing-function: cubic-bezier(0.13066, 1, 0.52413, 1);
          animation-timing-function: cubic-bezier(0.13066, 1, 0.52413, 1);
}

circle:nth-child(22) {
  -webkit-animation-timing-function: cubic-bezier(0.22964, 1, 0.42166, 1);
          animation-timing-function: cubic-bezier(0.22964, 1, 0.42166, 1);
}

circle:nth-child(23) {
  -webkit-animation-timing-function: cubic-bezier(0.30674, 1, 0.83671, 1);
          animation-timing-function: cubic-bezier(0.30674, 1, 0.83671, 1);
}

circle:nth-child(24) {
  -webkit-animation-timing-function: cubic-bezier(0.09919, 1, 0.82273, 1);
          animation-timing-function: cubic-bezier(0.09919, 1, 0.82273, 1);
}

circle:nth-child(25) {
  -webkit-animation-timing-function: cubic-bezier(0.20461, 1, 0.79814, 1);
          animation-timing-function: cubic-bezier(0.20461, 1, 0.79814, 1);
}

circle:nth-child(26) {
  -webkit-animation-timing-function: cubic-bezier(0.5218, 1, 0.37165, 1);
          animation-timing-function: cubic-bezier(0.5218, 1, 0.37165, 1);
}

circle:nth-child(27) {
  -webkit-animation-timing-function: cubic-bezier(0.7742, 1, 0.48906, 1);
          animation-timing-function: cubic-bezier(0.7742, 1, 0.48906, 1);
}

circle:nth-child(28) {
  -webkit-animation-timing-function: cubic-bezier(0.69807, 1, 0.0246, 1);
          animation-timing-function: cubic-bezier(0.69807, 1, 0.0246, 1);
}

circle:nth-child(29) {
  -webkit-animation-timing-function: cubic-bezier(0.84075, 1, 0.10895, 1);
          animation-timing-function: cubic-bezier(0.84075, 1, 0.10895, 1);
}

circle:nth-child(30) {
  -webkit-animation-timing-function: cubic-bezier(0.72373, 1, 0.12945, 1);
          animation-timing-function: cubic-bezier(0.72373, 1, 0.12945, 1);
}

circle:nth-child(31) {
  -webkit-animation-timing-function: cubic-bezier(0.21989, 1, 0.07294, 1);
          animation-timing-function: cubic-bezier(0.21989, 1, 0.07294, 1);
}

circle:nth-child(32) {
  -webkit-animation-timing-function: cubic-bezier(0.45244, 1, 0.15995, 1);
          animation-timing-function: cubic-bezier(0.45244, 1, 0.15995, 1);
}

circle:nth-child(33) {
  -webkit-animation-timing-function: cubic-bezier(0.45857, 1, 0.07466, 1);
          animation-timing-function: cubic-bezier(0.45857, 1, 0.07466, 1);
}

circle:nth-child(34) {
  -webkit-animation-timing-function: cubic-bezier(0.63417, 1, 0.93924, 1);
          animation-timing-function: cubic-bezier(0.63417, 1, 0.93924, 1);
}

circle:nth-child(35) {
  -webkit-animation-timing-function: cubic-bezier(0.1193, 1, 0.43572, 1);
          animation-timing-function: cubic-bezier(0.1193, 1, 0.43572, 1);
}

circle:nth-child(36) {
  -webkit-animation-timing-function: cubic-bezier(0.85094, 1, 0.25835, 1);
          animation-timing-function: cubic-bezier(0.85094, 1, 0.25835, 1);
}

circle:nth-child(37) {
  -webkit-animation-timing-function: cubic-bezier(0.48772, 1, 0.4868, 1);
          animation-timing-function: cubic-bezier(0.48772, 1, 0.4868, 1);
}

circle:nth-child(38) {
  -webkit-animation-timing-function: cubic-bezier(0.97034, 1, 0.67781, 1);
          animation-timing-function: cubic-bezier(0.97034, 1, 0.67781, 1);
}

circle:nth-child(39) {
  -webkit-animation-timing-function: cubic-bezier(0.27893, 1, 0.56051, 1);
          animation-timing-function: cubic-bezier(0.27893, 1, 0.56051, 1);
}

circle:nth-child(40) {
  -webkit-animation-timing-function: cubic-bezier(0.42378, 1, 0.57597, 1);
          animation-timing-function: cubic-bezier(0.42378, 1, 0.57597, 1);
}

circle:nth-child(41) {
  -webkit-animation-timing-function: cubic-bezier(0.12041, 1, 0.68363, 1);
          animation-timing-function: cubic-bezier(0.12041, 1, 0.68363, 1);
}

circle:nth-child(42) {
  -webkit-animation-timing-function: cubic-bezier(0.40523, 1, 0.95651, 1);
          animation-timing-function: cubic-bezier(0.40523, 1, 0.95651, 1);
}

circle:nth-child(43) {
  -webkit-animation-timing-function: cubic-bezier(0.40038, 1, 0.04772, 1);
          animation-timing-function: cubic-bezier(0.40038, 1, 0.04772, 1);
}

circle:nth-child(44) {
  -webkit-animation-timing-function: cubic-bezier(0.27562, 1, 0.7479, 1);
          animation-timing-function: cubic-bezier(0.27562, 1, 0.7479, 1);
}

circle:nth-child(45) {
  -webkit-animation-timing-function: cubic-bezier(0.99607, 1, 0.22154, 1);
          animation-timing-function: cubic-bezier(0.99607, 1, 0.22154, 1);
}

circle:nth-child(46) {
  -webkit-animation-timing-function: cubic-bezier(0.86836, 1, 0.38391, 1);
          animation-timing-function: cubic-bezier(0.86836, 1, 0.38391, 1);
}

circle:nth-child(47) {
  -webkit-animation-timing-function: cubic-bezier(0.77133, 1, 0.25203, 1);
          animation-timing-function: cubic-bezier(0.77133, 1, 0.25203, 1);
}

circle:nth-child(48) {
  -webkit-animation-timing-function: cubic-bezier(0.95038, 1, 0.50113, 1);
          animation-timing-function: cubic-bezier(0.95038, 1, 0.50113, 1);
}

circle:nth-child(49) {
  -webkit-animation-timing-function: cubic-bezier(0.29857, 1, 0.6822, 1);
          animation-timing-function: cubic-bezier(0.29857, 1, 0.6822, 1);
}

circle:nth-child(50) {
  -webkit-animation-timing-function: cubic-bezier(0.688, 1, 0.5292, 1);
          animation-timing-function: cubic-bezier(0.688, 1, 0.5292, 1);
}

circle:nth-child(51) {
  -webkit-animation-timing-function: cubic-bezier(0.48985, 1, 0.88792, 1);
          animation-timing-function: cubic-bezier(0.48985, 1, 0.88792, 1);
}

circle:nth-child(52) {
  -webkit-animation-timing-function: cubic-bezier(0.73043, 1, 0.02759, 1);
          animation-timing-function: cubic-bezier(0.73043, 1, 0.02759, 1);
}

circle:nth-child(53) {
  -webkit-animation-timing-function: cubic-bezier(0.18656, 1, 0.09893, 1);
          animation-timing-function: cubic-bezier(0.18656, 1, 0.09893, 1);
}

circle:nth-child(54) {
  -webkit-animation-timing-function: cubic-bezier(0.935, 1, 0.76693, 1);
          animation-timing-function: cubic-bezier(0.935, 1, 0.76693, 1);
}

circle:nth-child(55) {
  -webkit-animation-timing-function: cubic-bezier(0.59246, 1, 0.34926, 1);
          animation-timing-function: cubic-bezier(0.59246, 1, 0.34926, 1);
}

circle:nth-child(56) {
  -webkit-animation-timing-function: cubic-bezier(0.43299, 1, 0.55304, 1);
          animation-timing-function: cubic-bezier(0.43299, 1, 0.55304, 1);
}

circle:nth-child(57) {
  -webkit-animation-timing-function: cubic-bezier(0.59263, 1, 0.26902, 1);
          animation-timing-function: cubic-bezier(0.59263, 1, 0.26902, 1);
}

circle:nth-child(58) {
  -webkit-animation-timing-function: cubic-bezier(0.61953, 1, 0.31517, 1);
          animation-timing-function: cubic-bezier(0.61953, 1, 0.31517, 1);
}

circle:nth-child(59) {
  -webkit-animation-timing-function: cubic-bezier(0.7847, 1, 0.83996, 1);
          animation-timing-function: cubic-bezier(0.7847, 1, 0.83996, 1);
}

circle:nth-child(60) {
  -webkit-animation-timing-function: cubic-bezier(0.81167, 1, 0.53302, 1);
          animation-timing-function: cubic-bezier(0.81167, 1, 0.53302, 1);
}

circle:nth-child(61) {
  -webkit-animation-timing-function: cubic-bezier(0.6046, 1, 0.10042, 1);
          animation-timing-function: cubic-bezier(0.6046, 1, 0.10042, 1);
}

circle:nth-child(62) {
  -webkit-animation-timing-function: cubic-bezier(0.39865, 1, 0.24748, 1);
          animation-timing-function: cubic-bezier(0.39865, 1, 0.24748, 1);
}

circle:nth-child(63) {
  -webkit-animation-timing-function: cubic-bezier(0.9051, 1, 0.1092, 1);
          animation-timing-function: cubic-bezier(0.9051, 1, 0.1092, 1);
}

circle:nth-child(64) {
  -webkit-animation-timing-function: cubic-bezier(0.07171, 1, 0.87445, 1);
          animation-timing-function: cubic-bezier(0.07171, 1, 0.87445, 1);
}

circle:nth-child(65) {
  -webkit-animation-timing-function: cubic-bezier(0.92121, 1, 0.60753, 1);
          animation-timing-function: cubic-bezier(0.92121, 1, 0.60753, 1);
}

circle:nth-child(66) {
  -webkit-animation-timing-function: cubic-bezier(0.87555, 1, 0.47848, 1);
          animation-timing-function: cubic-bezier(0.87555, 1, 0.47848, 1);
}

circle:nth-child(67) {
  -webkit-animation-timing-function: cubic-bezier(0.74383, 1, 0.48671, 1);
          animation-timing-function: cubic-bezier(0.74383, 1, 0.48671, 1);
}

circle:nth-child(68) {
  -webkit-animation-timing-function: cubic-bezier(0.73558, 1, 0.18003, 1);
          animation-timing-function: cubic-bezier(0.73558, 1, 0.18003, 1);
}

circle:nth-child(69) {
  -webkit-animation-timing-function: cubic-bezier(0.44598, 1, 0.25792, 1);
          animation-timing-function: cubic-bezier(0.44598, 1, 0.25792, 1);
}

circle:nth-child(70) {
  -webkit-animation-timing-function: cubic-bezier(0.06449, 1, 0.11515, 1);
          animation-timing-function: cubic-bezier(0.06449, 1, 0.11515, 1);
}

circle:nth-child(71) {
  -webkit-animation-timing-function: cubic-bezier(0.01498, 1, 0.21154, 1);
          animation-timing-function: cubic-bezier(0.01498, 1, 0.21154, 1);
}

circle:nth-child(72) {
  -webkit-animation-timing-function: cubic-bezier(0.81296, 1, 0.32437, 1);
          animation-timing-function: cubic-bezier(0.81296, 1, 0.32437, 1);
}

circle:nth-child(73) {
  -webkit-animation-timing-function: cubic-bezier(0.75224, 1, 0.73181, 1);
          animation-timing-function: cubic-bezier(0.75224, 1, 0.73181, 1);
}

circle:nth-child(74) {
  -webkit-animation-timing-function: cubic-bezier(0.93466, 1, 0.72247, 1);
          animation-timing-function: cubic-bezier(0.93466, 1, 0.72247, 1);
}

circle:nth-child(75) {
  -webkit-animation-timing-function: cubic-bezier(0.44228, 1, 0.08863, 1);
          animation-timing-function: cubic-bezier(0.44228, 1, 0.08863, 1);
}

circle:nth-child(76) {
  -webkit-animation-timing-function: cubic-bezier(0.07442, 1, 0.90532, 1);
          animation-timing-function: cubic-bezier(0.07442, 1, 0.90532, 1);
}

circle:nth-child(77) {
  -webkit-animation-timing-function: cubic-bezier(0.26981, 1, 0.73807, 1);
          animation-timing-function: cubic-bezier(0.26981, 1, 0.73807, 1);
}

circle:nth-child(78) {
  -webkit-animation-timing-function: cubic-bezier(0.2942, 1, 0.9826, 1);
          animation-timing-function: cubic-bezier(0.2942, 1, 0.9826, 1);
}

circle:nth-child(79) {
  -webkit-animation-timing-function: cubic-bezier(0.52489, 1, 0.19295, 1);
          animation-timing-function: cubic-bezier(0.52489, 1, 0.19295, 1);
}

circle:nth-child(80) {
  -webkit-animation-timing-function: cubic-bezier(0.92781, 1, 0.60491, 1);
          animation-timing-function: cubic-bezier(0.92781, 1, 0.60491, 1);
}

circle:nth-child(81) {
  -webkit-animation-timing-function: cubic-bezier(0.11609, 1, 0.57609, 1);
          animation-timing-function: cubic-bezier(0.11609, 1, 0.57609, 1);
}

circle:nth-child(82) {
  -webkit-animation-timing-function: cubic-bezier(0.55741, 1, 0.0008, 1);
          animation-timing-function: cubic-bezier(0.55741, 1, 0.0008, 1);
}

circle:nth-child(83) {
  -webkit-animation-timing-function: cubic-bezier(0.61377, 1, 0.46224, 1);
          animation-timing-function: cubic-bezier(0.61377, 1, 0.46224, 1);
}

circle:nth-child(84) {
  -webkit-animation-timing-function: cubic-bezier(0.26184, 1, 0.03616, 1);
          animation-timing-function: cubic-bezier(0.26184, 1, 0.03616, 1);
}

circle:nth-child(85) {
  -webkit-animation-timing-function: cubic-bezier(0.0713, 1, 0.43628, 1);
          animation-timing-function: cubic-bezier(0.0713, 1, 0.43628, 1);
}

circle:nth-child(86) {
  -webkit-animation-timing-function: cubic-bezier(0.0577, 1, 0.2765, 1);
          animation-timing-function: cubic-bezier(0.0577, 1, 0.2765, 1);
}

circle:nth-child(87) {
  -webkit-animation-timing-function: cubic-bezier(0.00386, 1, 0.76253, 1);
          animation-timing-function: cubic-bezier(0.00386, 1, 0.76253, 1);
}

circle:nth-child(88) {
  -webkit-animation-timing-function: cubic-bezier(0.04081, 1, 0.65242, 1);
          animation-timing-function: cubic-bezier(0.04081, 1, 0.65242, 1);
}

circle:nth-child(89) {
  -webkit-animation-timing-function: cubic-bezier(0.29296, 1, 0.09149, 1);
          animation-timing-function: cubic-bezier(0.29296, 1, 0.09149, 1);
}

circle:nth-child(90) {
  -webkit-animation-timing-function: cubic-bezier(0.13119, 1, 0.7048, 1);
          animation-timing-function: cubic-bezier(0.13119, 1, 0.7048, 1);
}

circle:nth-child(91) {
  -webkit-animation-timing-function: cubic-bezier(0.4763, 1, 0.22035, 1);
          animation-timing-function: cubic-bezier(0.4763, 1, 0.22035, 1);
}

circle:nth-child(92) {
  -webkit-animation-timing-function: cubic-bezier(0.87527, 1, 0.31054, 1);
          animation-timing-function: cubic-bezier(0.87527, 1, 0.31054, 1);
}

circle:nth-child(93) {
  -webkit-animation-timing-function: cubic-bezier(0.45504, 1, 0.44676, 1);
          animation-timing-function: cubic-bezier(0.45504, 1, 0.44676, 1);
}

circle:nth-child(94) {
  -webkit-animation-timing-function: cubic-bezier(0.88532, 1, 0.22195, 1);
          animation-timing-function: cubic-bezier(0.88532, 1, 0.22195, 1);
}

circle:nth-child(95) {
  -webkit-animation-timing-function: cubic-bezier(0.34686, 1, 0.10815, 1);
          animation-timing-function: cubic-bezier(0.34686, 1, 0.10815, 1);
}

circle:nth-child(96) {
  -webkit-animation-timing-function: cubic-bezier(0.2936, 1, 0.82192, 1);
          animation-timing-function: cubic-bezier(0.2936, 1, 0.82192, 1);
}

circle:nth-child(97) {
  -webkit-animation-timing-function: cubic-bezier(0.87833, 1, 0.599, 1);
          animation-timing-function: cubic-bezier(0.87833, 1, 0.599, 1);
}

circle:nth-child(98) {
  -webkit-animation-timing-function: cubic-bezier(0.30999, 1, 0.18697, 1);
          animation-timing-function: cubic-bezier(0.30999, 1, 0.18697, 1);
}

circle:nth-child(99) {
  -webkit-animation-timing-function: cubic-bezier(0.88228, 1, 0.79401, 1);
          animation-timing-function: cubic-bezier(0.88228, 1, 0.79401, 1);
}

circle:nth-child(100) {
  -webkit-animation-timing-function: cubic-bezier(0.83636, 1, 0.8177, 1);
          animation-timing-function: cubic-bezier(0.83636, 1, 0.8177, 1);
}

circle:nth-child(101) {
  -webkit-animation-timing-function: cubic-bezier(0.43754, 1, 0.56824, 1);
          animation-timing-function: cubic-bezier(0.43754, 1, 0.56824, 1);
}

circle:nth-child(102) {
  -webkit-animation-timing-function: cubic-bezier(0.63576, 1, 0.79544, 1);
          animation-timing-function: cubic-bezier(0.63576, 1, 0.79544, 1);
}

circle:nth-child(103) {
  -webkit-animation-timing-function: cubic-bezier(0.05034, 1, 0.93621, 1);
          animation-timing-function: cubic-bezier(0.05034, 1, 0.93621, 1);
}

circle:nth-child(104) {
  -webkit-animation-timing-function: cubic-bezier(0.61795, 1, 0.0276, 1);
          animation-timing-function: cubic-bezier(0.61795, 1, 0.0276, 1);
}

circle:nth-child(105) {
  -webkit-animation-timing-function: cubic-bezier(0.93699, 1, 0.47863, 1);
          animation-timing-function: cubic-bezier(0.93699, 1, 0.47863, 1);
}

circle:nth-child(106) {
  -webkit-animation-timing-function: cubic-bezier(0.19961, 1, 0.30701, 1);
          animation-timing-function: cubic-bezier(0.19961, 1, 0.30701, 1);
}

circle:nth-child(107) {
  -webkit-animation-timing-function: cubic-bezier(0.99326, 1, 0.19504, 1);
          animation-timing-function: cubic-bezier(0.99326, 1, 0.19504, 1);
}

circle:nth-child(108) {
  -webkit-animation-timing-function: cubic-bezier(0.50046, 1, 0.9302, 1);
          animation-timing-function: cubic-bezier(0.50046, 1, 0.9302, 1);
}

circle:nth-child(109) {
  -webkit-animation-timing-function: cubic-bezier(0.86984, 1, 0.41669, 1);
          animation-timing-function: cubic-bezier(0.86984, 1, 0.41669, 1);
}

circle:nth-child(110) {
  -webkit-animation-timing-function: cubic-bezier(0.18782, 1, 0.57598, 1);
          animation-timing-function: cubic-bezier(0.18782, 1, 0.57598, 1);
}

circle:nth-child(111) {
  -webkit-animation-timing-function: cubic-bezier(0.87244, 1, 0.7913, 1);
          animation-timing-function: cubic-bezier(0.87244, 1, 0.7913, 1);
}

circle:nth-child(112) {
  -webkit-animation-timing-function: cubic-bezier(0.19034, 1, 0.05181, 1);
          animation-timing-function: cubic-bezier(0.19034, 1, 0.05181, 1);
}

circle:nth-child(113) {
  -webkit-animation-timing-function: cubic-bezier(0.0874, 1, 0.3285, 1);
          animation-timing-function: cubic-bezier(0.0874, 1, 0.3285, 1);
}

circle:nth-child(114) {
  -webkit-animation-timing-function: cubic-bezier(0.76356, 1, 0.24973, 1);
          animation-timing-function: cubic-bezier(0.76356, 1, 0.24973, 1);
}

circle:nth-child(115) {
  -webkit-animation-timing-function: cubic-bezier(0.61483, 1, 0.8705, 1);
          animation-timing-function: cubic-bezier(0.61483, 1, 0.8705, 1);
}

circle:nth-child(116) {
  -webkit-animation-timing-function: cubic-bezier(0.32709, 1, 0.12089, 1);
          animation-timing-function: cubic-bezier(0.32709, 1, 0.12089, 1);
}

circle:nth-child(117) {
  -webkit-animation-timing-function: cubic-bezier(0.93863, 1, 0.16302, 1);
          animation-timing-function: cubic-bezier(0.93863, 1, 0.16302, 1);
}

circle:nth-child(118) {
  -webkit-animation-timing-function: cubic-bezier(0.32527, 1, 0.81504, 1);
          animation-timing-function: cubic-bezier(0.32527, 1, 0.81504, 1);
}

circle:nth-child(119) {
  -webkit-animation-timing-function: cubic-bezier(0.27846, 1, 0.46946, 1);
          animation-timing-function: cubic-bezier(0.27846, 1, 0.46946, 1);
}

circle:nth-child(120) {
  -webkit-animation-timing-function: cubic-bezier(0.50177, 1, 0.42157, 1);
          animation-timing-function: cubic-bezier(0.50177, 1, 0.42157, 1);
}

circle:nth-child(121) {
  -webkit-animation-timing-function: cubic-bezier(0.45312, 1, 0.32434, 1);
          animation-timing-function: cubic-bezier(0.45312, 1, 0.32434, 1);
}

circle:nth-child(122) {
  -webkit-animation-timing-function: cubic-bezier(0.41432, 1, 0.38291, 1);
          animation-timing-function: cubic-bezier(0.41432, 1, 0.38291, 1);
}

circle:nth-child(123) {
  -webkit-animation-timing-function: cubic-bezier(0.89475, 1, 0.1031, 1);
          animation-timing-function: cubic-bezier(0.89475, 1, 0.1031, 1);
}

circle:nth-child(124) {
  -webkit-animation-timing-function: cubic-bezier(0.37011, 1, 0.82253, 1);
          animation-timing-function: cubic-bezier(0.37011, 1, 0.82253, 1);
}
